<robot name="dof6arm">

  <!-- World link for stability -->
  <link name="world"/>

  <joint name="world_fixed" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

  <!-- BASE LINK -->
  <link name="base_link">
    <inertial>
      <mass value="5.5104"/>
      <inertia ixx="0.03" iyy="0.03" izz="0.05" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <visual>
      <geometry>
        <mesh filename="package://dof6arm/meshes/base_link.STL"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <box size="0.3 0.3 0.1"/>
      </geometry>
    </collision>
  </link>

  <!-- LINK 1 -->
  <link name="link1">
    <inertial>
      <mass value="2.2"/>
      <inertia ixx="0.01" iyy="0.02" izz="0.01" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <visual>
      <geometry>
        <mesh filename="package://dof6arm/meshes/link1.STL"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <box size="0.2 0.2 0.3"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint1" type="revolute">
    <parent link="base_link"/>
    <child link="link1"/>
    <origin xyz="0 0 0.085" rpy="0 0 1.5708"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14" upper="3.14" effort="20" velocity="10"/>
    <dynamics damping="5.0" friction="1.0"/>  
  </joint>

  <!-- LINK 2 -->
  <link name="link2">
    <inertial>
      <mass value="0.9"/>
      <inertia ixx="0.01" iyy="0.01" izz="0.01"
         ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>

    <visual>
      <geometry>
        <mesh filename="package://dof6arm/meshes/link2.STL"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <box size="0.2 0.4 0.1"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint2" type="revolute">
    <parent link="link1"/>
    <child link="link2"/>
    <origin xyz="0.15 -0.02 0.16" rpy="1.5708 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.57" upper="1.57" effort="20" velocity="10"/>    
    <dynamics damping="5.0" friction="1.0"/>  
  </joint>

  <!-- LINK 3 -->
  <link name="link3">
    <visual>
      <geometry>
        <mesh filename="package://dof6arm/meshes/link3.STL"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <box size="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint3" type="revolute">
    <parent link="link2"/>
    <child link="link3"/>
    <origin xyz="0 0.35 0" rpy="0 0 1.5708"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.57" upper="1.57" effort="20" velocity="10"/>
    <dynamics damping="5.0" friction="1.0"/>  
  </joint>

  <!-- LINK 4 -->
  <link name="link4">
    <visual>
      <geometry>
        <mesh filename="package://dof6arm/meshes/link4.STL"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <box size="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint4" type="revolute">
    <parent link="link3"/>
    <child link="link4"/>
    <origin xyz="-0.045 -0.251 -0.0475" rpy="1.5708 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.57" upper="1.57" effort="20" velocity="10"/>
    <dynamics damping="5.0" friction="1.0"/>  
  </joint>

  <!-- LINK 5 -->
  <link name="link5">
    <visual>
      <geometry>
        <mesh filename="package://dof6arm/meshes/link5.STL"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <box size="0.15 0.15 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint5" type="revolute">
    <parent link="link4"/>
    <child link="link5"/>
    <origin xyz="0 0.0005 0.11" rpy="-1.5708 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.57" upper="1.57" effort="20" velocity="10"/>    
    <dynamics damping="5.0" friction="1.0"/>  
  </joint>

  <!-- LINK 6 -->
  <link name="link6">
    <visual>
      <geometry>
        <mesh filename="package://dof6arm/meshes/link6.STL"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint6" type="revolute">
    <parent link="link5"/>
    <child link="link6"/>
    <origin xyz="0 -0.104 0" rpy="1.5708 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.57" upper="1.57" effort="20" velocity="10"/>
    <dynamics damping="5.0" friction="1.0"/>  
  </joint>

  <!-- END EFFECTOR -->
  <link name="endfector">
    <visual>
      <geometry>
        <mesh filename="package://dof6arm/meshes/endfector.STL"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint7" type="fixed">
    <parent link="link6"/>
    <child link="endfector"/>
    <origin xyz="0 0 0.045"/>
  </joint>

  <!-- ROS2 CONTROL -->
  <ros2_control name="ArmSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>

    <joint name="joint1"><command_interface name="position"/><state_interface name="position"/></joint>
    <joint name="joint2"><command_interface name="position"/><state_interface name="position"/></joint>
    <joint name="joint3"><command_interface name="position"/><state_interface name="position"/></joint>
    <joint name="joint4"><command_interface name="position"/><state_interface name="position"/></joint>
    <joint name="joint5"><command_interface name="position"/><state_interface name="position"/></joint>
    <joint name="joint6"><command_interface name="position"/><state_interface name="position"/></joint>
  </ros2_control>

  <gazebo reference="base_link">
    <static>true</static>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so"/>
  </gazebo>

</robot>